@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css");
@import "tailwindcss";
@source '../../../../packages/tiptap/**/*.{ts,tsx}';

:root {
  font-family:
    "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
}

.ProseMirror ul ul,
.ProseMirror ol ol,
.ProseMirror ul ol,
.ProseMirror ol ul {
  @apply ml-6;
}

.ProseMirror ul li,
.ProseMirror ol li {
  @apply relative;
}

.ProseMirror ul li::before,
.ProseMirror ol li::before {
  @apply absolute;
  @apply left-6;
}

.ProseMirror ul li ul li {
  @apply list-[circle];
}

.ProseMirror ul li ul li ul li {
  @apply list-[square];
}
